$font:    'Montserrat Ace Medium', Times, serif;
$primary-color: #FF6060;
$slogan: "Chez vous, partout et ailleurs";
$ft_primary-color: black;
$ft_secondary-color: white;
$img_banner1: "../../img/home.jpg";