@import '../SASS/main';

.__page404 {
    @include flex(column, center, center);
    max-width: 375px;
    width: 89.3%;
    text-align: center;
    margin: 0 auto 0 auto;


    @media screen and (min-width: 1024px) {
        max-width: 1440px;
        width: 100%;
        height: 1000px;
        display: block;
        line-height: 0.5;
        margin-top: -35px;
    }

    h1 {
        padding-top: 30px;
        font-size: 88px;
        font-weight: 700;
        font-family: $font;
        color: $primary-color;

        @media screen and (min-width: 1024px) {
            font-size: 288px;
        }
    }

    h2 {
        width: 69.3%;
        font-size: 18px;
        font-weight: 500;
        font-family: $font;
        color: $primary-color;

        @media screen and (min-width: 1024px) {
            display: block;
            width: 100%;
            font-size: 36px;
            margin: 0 auto 155px auto;
            font-weight: 700;

        }
    }

    a {
        margin: 65px 0 85px 0;
        font-size: 14px;
        font-weight: 500;
        font-family: $font;
        color: black;

        @media screen and (min-width: 1024px) {
            font-size: 18px;
            font-weight: 700;
        }
    }
}