@import '../SASS/main';

.Collapse {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: 1024px) {
        gap: 16px;
    }

    &[data-title="Description"],
    &[data-title="Équipements"] {
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
        }
    }

    button {
        @include flex(row, space-between, center);
        width: 89.3%;
        height: 30px;
        background-color: $primary-color;
        border-radius: 5px;
        font-family: $font;
        color: $ft_secondary-color;
        font-weight: 700;
        font-size: 13px;
        text-indent: 0.6rem;
        margin-left: 5%;
        cursor: pointer;
        border: none;

        @media screen and (min-width: 1024px) {
            height: 52px;
            font-size: 24px;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .Description,
    .Équipements {
        @media screen and (min-width: 1024px) {
            font-size: 18px;
            margin-top: 13px;
            margin-bottom: 34px;
        }
    }

    .Fiabilité {
        @media screen and (min-width: 1024px) {
            margin-top: -16px;
        }
    }

    .Sécurité {
        @media screen and (min-width: 1024px) {
            margin-bottom: 8px;
        }
    }

    .symbol {
        display: flex;
        height: 9.1px;
        margin-right: 4%;
        justify-content: flex-end;

        @media screen and (min-width: 1024px) {
            height: 13.7px;
        }
    }

    .containerTxt {
        width: 90%;
        height: auto;
        overflow: hidden;

        @media screen and (min-width: 1024px) {
            width: 80.5%;
            height: 120px;
            margin: -20px auto 0 auto;
        }

        .Description_text,
        .Équipements_text {
            @media screen and (min-width: 1024px) {
                font-size: 18px;
                width: 84.3%;
                margin-top: -20px;
                margin-left: 7%;
            }
        }

        .Fiabilité_text,
        .Respect_text,
        .Service_text,
        .Sécurité_text {
            width: 89.3%;
            font-size: 13px;
            font-weight: 500;
            overflow: hidden;
            margin: -16px 10% 0 10%;

            @media screen and (min-width: 1024px) {
                font-size: 18px;
                margin: -16px auto 0 auto;
            }
        }
    }
}