@import '../SASS/main';

.Collapse {
    display: flex;
    flex-direction: column;
    width: 100%;

    &[data-title="Description"],
    &[data-title="Équipements"] {
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            width: 50%;
        }
    }

    button {
        @include flex(row, space-between, center);
        width: 89.3%;
        height: 30px;
        background-color: $primary-color;
        border-radius: 5px;
        font-family: $font;
        color: $ft_secondary-color;
        font-weight: 700;
        font-size: 13px;
        text-indent: 0.6rem;
        margin-left: 5%;
        cursor: pointer;
        border: none;

        @media screen and (min-width: 1024px) {
            height: 52px;
            font-size: 24px;
            width: 82.5%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .Description,
    .Équipements {
        @media screen and (min-width: 1024px) {
            font-size: 18px;
            margin-top: 13px;
            margin-bottom: 34px;
        }
    }

    .Fiabilité {
        @media screen and (min-width: 1024px) {
            margin-top: -16px;
            margin-bottom: 59px;
        }
    }

    .Respect,
    .Service,
    .Sécurité {
        @media screen and (min-width: 1024px) {
            margin-bottom: 59px;
        }
    }

    .Sécurité {
        @media screen and (min-width: 1024px) {
            margin-bottom: 67px;
        }
    }

    .symbol {
        display: flex;
        height: 9.1px;
        margin-right: 4%;
        justify-content: flex-end;

        @media screen and (min-width: 1024px) {
            height: 13.7px;
        }
    }

    .containerTxt {
        display: flex;
        width: 90%;
        height: auto;
        overflow: hidden;
        background-color: #FBFBFB;
        border-radius: 5px;
        margin: 0 auto 0 auto;
        z-index: -1;

        @media screen and (min-width: 1024px) {
            width: 82.5%;
            margin: -48px auto 0 auto;
        }

        .Description_text,
        .Équipements_text {
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            margin: 1rem 5% 0 5%;


            @media screen and (min-width: 1024px) {
                font-size: 18px;
                width: 84.3%;
                margin-left: 7%;
            }
        }

        .Équipements_text {
            margin: 1rem 0 1rem 5%;
        }

        .Fiabilité_text,
        .Respect_text,
        .Service_text,
        .Sécurité_text {
            width: 88%;
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            margin: 0 auto 0 auto;

            @media screen and (min-width: 1024px) {
                width: 96%;
                font-size: 18px;
                margin-top: -20px;
            }
        }
    }
}