@import '../SASS/main';
.Collapse {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
    @include flex(row, space-between, center);
    width: 89.3%;
    height: 30px;
    background-color: $primary-color;
    border-radius: 5px;
    font-family: $font;
    color: $ft_secondary-color;
    font-weight: 700;
    font-size: 13px;
    text-indent: 0.6rem;
    margin-left: 5%;
    cursor: pointer;
    border: none;
    @media screen and (min-width: 1024px) {
            height: 52px;
            font-size: 24px;
        }
    }

    .symbol{
    display: flex;
    height: 9.1px;
    margin-right: 4%;
    justify-content: flex-end;
    @media screen and (min-width: 1024px) {
        height: 13.7px;
    }

    }
}
