@import '../SASS/mixins';

.__header{
    @include flex(row, center, center);
    max-width: 375px;
    width: 89.3%;
    height: 46.9px;
    margin-top: 20px;
    
        .__header--logo{
        display: flex;
            h1{
                font-size: 0%;
                img{
                    height: 46.8px;
                }
            }
        }
        .__header--nav{
            display: flex;
            text-wrap: nowrap;
            justify-content: right;
            height: 46.8px;
                li{
                    display: inline;
                        }
                li:nth-child(1){
                    padding-right: 2rem;
                }
                
        }
}