@import '../SASS/main';

.__Sheet{
    @include flex(column, flex-start, flex-start);
    max-width: 375px;
    width: 100%;
    @media screen and (min-width: 1024px) {
            max-width: 1440px;
        }
}
.__Sheet--carousel{
    @include flex(column, flex-start, center);
    object-fit: cover;
    overflow: hidden;
}
.__Sheet--carousel-image{
    width: 89.3%;
    height: 255px;
    border-radius: 10px;
    background-color: greenyellow;
}
.__Sheet--carousel-button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
}
.__Sheet--carousel-button:nth-child(1){
    position: relative;
    right: 40%;
    top: 150px;
}
.__Sheet--carousel-button:nth-child(3){
    position: relative;
    left: 40%;
    bottom: 140px;
}
.__Sheet--carousel-counter {
    position: relative;
    bottom: 65px;
    color: white;
    visibility: hidden;  
    @media screen and (min-width: 1024px) {
        visibility: visible;
    }
}
.__Sheet h1 {
    @include flex(column, flex-start, flex-start);
    text-align: left;
    margin: -45px 5% 0 5%;
    font-family: $font;
    color: $primary-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8rem;
}
.__Sheet h2 {
    @include flex(column, flex-start, flex-start);
    text-align: left;
    margin: 5px 0 10px 5%;
    font-family: $font;
    color: $ft_primary-color;
    font-weight: 500;
    font-size: 14px;
}
.tags{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    margin-left: 5%;
    
}
.tag-button{
    display: flex;
    background-color: $primary-color;
    width: 22.4%;
    height: 18px;
    flex-wrap: nowrap;
    border-radius: 5px;
    font-family: $font;
    color: $ft_secondary-color;
    font-weight: 500;
    font-size: 2.4vw;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}
.StarRating{
    display: flex;
    align-content: left;
    width: 50%;
    margin: 25px 10% 20px;
}
.host{
    display: flex;
    flex-direction: row;
    width:52%;
    font-family: $font;
    color: $primary-color;
    font-weight: 500;
    font-size: 14px; 
    text-align: right;
    align-content: center;

}
.host p{
    margin-left: 60%;
}
.hostPicture{
    width: 32px; 
    height: 32px; 
    object-fit: cover; 
    margin: 15px 5%;
    clip-path: circle(50%);
}
