@import 'components/SASS/mixins';
body {
  margin: 0;
  font-family: 'Montserrat Ace Medium', 'Montserrat', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex(column, flex-start, center);
  max-height: 1268px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
