@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'components/SASS/mixins';

html,
body {
  margin: 0;
  font-family: 'Montserrat', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 375px;
  overflow-x: hidden !important;
    @media screen and (min-width: 1024px) {
        max-width: 1440px;
      }
}