@import 'components/SASS/mixins';
body {
  margin: 0;
  font-family: 'Montserrat Ace Medium', 'Montserrat', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex(column, center, center);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
